<!doctype html>
<html>
    <head>
        <style>
            * {
                box-sizing: border-box;
            }
            body, pre {
                background-color:#000;
                font-size: 12px;
                font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
            }

            body {
                color: #fff;
                margin: 30px 10px 10px;
            }

            pre {
                margin: 0;
            }
            
            .smaller {
                font-size: 10px;
            }

            a, a:visited {
                color: #2020A0 ;
            }
            a {
                transition: all 0.15s ease-out;
                text-decoration: none;
            }
            a:hover {
                color: DodgerBlue;
                text-decoration: underline;
            }

            .navigation {
                position: absolute;
                width: 100%;
                padding: 8px 1px 3px;
                background-color: #000;
                top: 0; 
            }

            .navigation.open {
                position: fixed;
                box-shadow: 2px 2px 2px rgba(0,0,0, 0.7);
            }

            .pull-right {
                position: absolute;
                right: 30px;
            }

            .toggleTextLabel{
                position: absolute;
                right:0;
                bottom: 0;
                padding: 2px 4px;
                background-color: #444;
                opacity: 0.5;
                user-select: none;
            }

            .toggleText {
                z-index: -1;
                display: block;
                position:relative;
                white-space:pre-wrap;
                background-color:#222;
                border: 1px solid #444; 
                padding: 0 8px;
                margin: 0;

                transition: all 0.15s ease-out;
                opacity: 0; 
                height: 0;
                overflow: hidden;
            }

            .toggleText.open {
                opacity: 1;
                padding: 8px;
                margin: 5px 0 15px;
                height: auto;
            }
            
            .content.red {
                color: lightcoral;
            }

            .content.orange {
                color: khaki;
            }

            .content.green {
                color: springGreen;
            }

            .stacktrace > span {
                border-left: 1px dashed #444;
            }

            .stacktrace.open {
                border-left: none;
            }

            .stacktrace .default {
                color: #eee;
            }
            .stacktrace .modules {
                display: none;
                color: #777;
            }
            .stacktrace .node {
                display: none;
                color: #444;
            }
            .stacktrace.open .node, .stacktrace.open .modules {
                display: inline;
            }
        </style>
    </head>
    <body>
        <%- include('macro/toggableText', {inspect, toggles : {
            CURL: curlRequest,
            Headers: headers,
            rawBody: typeof(rawBody) != 'undefined' && rawBody || undefined,
            ...(typeof(extraData) != 'undefined' && extraData || undefined),
            "Options" : moduleOpts
        }}) %>
        <div class="content <%-  code < 300  ? 'green' : (code < 500 ? 'orange' : 'red' ) %>"> 
            <span>
                <%= code < 500  ? 'RESPONSE' : 'ERROR'  %>  <strong><%= typeof(type) != 'undefined' && type || '' %></strong> <%= code || '' %> - <%= message || '' %> - <%= method || '' %> <%= originalUrl || '' %>
            </span>
            <pre id="id-stacktrace" class="stacktrace open setting"><%- colorize(error).replace(/\n/g, `<br/>`) %></pre>
        </div>
        <script>
            // Store settings in the local storage
            const stKey = 'awesome-error-handler';
            const st = {
                set: function(key, value) {
                    if (!key || !value) {return;}

                    if (typeof value === "object") {
                    value = JSON.stringify(value);
                    }
                    localStorage.setItem(key, value);
                },
                get: function(key) {
                    let value = localStorage.getItem(key);

                    if (!value) {return;}

                    // assume it is an object that has been stringified
                    try { 
                        return JSON.parse(value);
                    } catch(err) {
                        // Nothing to do
                    }
                    return value;
                }
            };

            // Some utilities
            window.$ = (id) => document.getElementById(id);
            window.$$ = (sel) => document.querySelectorAll(sel);

            // Toggle 'open' by id and store the change
            window.toggle = (id) => {
                const cl = $(id).classList;
                cl.toggle('open');
                window.store();
            };

            // Toggle 'open' to compress the trace and store the change
             window.toggleClean = (id) => {
                $('id-stacktrace').classList.toggle('open');
                window.store();
             };

            // Expand all the toggable panes. If they are all open it close them all. Then store the changes.
            window.expandAll = () => {
                const allText = [...$$('.toggleText')];
                const nOpened = allText.reduce((acc, el) => acc + (el.classList.contains('open') ? 1 : 0) , 0);
                let action = 'add';
                if (nOpened === allText.length) action = 'remove';
                 allText.map((el) => {
                    el.classList[action]('open');
                });
                window.store();
            };

            // Restore settings from the localstorage
            window.restore = () => {
                const state = st.get(stKey) || {};
                console.log(state);
                Object.keys(state).map((id) => {
                    const el = $(id);
                    if (!el) return;
                    const cl = el.classList;
                    if (cl){
                        let action = 'remove';
                        if (state[id]) action = 'add';
                         cl[action]('open');
                    } 
                })
            };

            // Save settings to the localstorage
            // Use the id for key. The stored value is the presence of the 'open' class
            // Note: when save the state is read from the dom
            window.store = () => {
                const state = st.get(stKey) || {};
                [...$$('.setting')].map((el) => {
                    state[el.id] = el.classList.contains('open');
                });
                st.set(stKey, state);
            } 

            window.restore();
        </script>
    </body>
</html>