<div id="id-navigation" class="navigation">
    <a href="#" class="toggleAction smaller pull-right" onclick="toggle('id-navigation')">Sticky</a>

    <a href="#" class="toggleAction smaller" onclick="toggleClean()">Clean Trace</a>
    &nbsp;
    <a href="#" class="toggleAction smaller" onclick="expandAll()">Expand All</a>
<% for(let label in toggles) {  
     const text = toggles[label];
     if (text === undefined) continue;
     let id = 'id-' + label.replace(/\s/, '-');
%>
    <a href="#" id='a<%= id %>' class="toggleAction" onclick="toggle('<%= id %>')"><%= label %></a>
<% } %>
</div>

<div>
<% for(let label in toggles) {  
    const text = toggles[label];
    if (text === undefined) continue;
    let id = 'id-' + label.replace(/\s/, '-');
%>
    <div 
        class="setting toggleText" 
        id='<%= id %>'
        ><%= (() => {
            try {
                return inspect(text, {showHidden: false, compact: false, depth: Infinity});
            } catch (e) {
                return text;
            }
        })() %><div class="toggleTextLabel"><%= label %></div></div>
<% } %>
</div>
